<div id="root"></div>
<div id="map-canvas"></div>
<script type="text/babel" src="/javascripts/components/adminLogOut.component.js"></script>

{{!-- Availability Tab --}}
<script type="text/babel" src="/javascripts/components/availability/AvailabilityCell.component.js"></script>
<script type="text/babel" src="/javascripts/components/availability/AvailabilityRow.component.js"></script>
<script type="text/babel" src="/javascripts/components/availability/AvailabilityTable.component.js"></script>
<script type="text/babel" src="/javascripts/components/availability/AvailabilityTab.component.js"></script>

{{!-- Contact Tab --}}
<script type="text/babel" src="/javascripts/components/contact/ContactMemberForm.component.js"></script>
<script type="text/babel" src="/javascripts/components/contact/ContactMember.component.js"></script>
{{!-- <script type="text/babel" src="/javascripts/components/contact/ContactDriver.component.js"></script>
<script type="text/babel" src="/javascripts/components/contact/ContactDriverlist.component.js"></script>
<script type="text/babel" src="/javascripts/components/contact/ContactGuest.component.js"></script>
<script type="text/babel" src="/javascripts/components/contact/ContactGuestlist.component.js"></script> --}}
<script type="text/babel" src="/javascripts/components/contact/ContactMemberlist.component.js"></script>
<script type="text/babel" src="/javascripts/components/contact/ContactTab.component.js"></script>


<script type="text/babel" src="/javascripts/components/pairing/PairItem.component.js"></script>
<script type="text/babel" src="/javascripts/components/pairing/Pairing.component.js"></script>
<script type="text/babel" src="/javascripts/components/pairing/PairingsMap.component.js"></script>
<script type="text/babel" src="/javascripts/components/Header.component.js"></script>
<script type="text/babel" src="/javascripts/ReactApp.js"></script>

<script src='https://maps.googleapis.com/maps/api/js?libraries=geometry&key={{api_key}}'></script>
<style>
  <style>html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #map-canvas {
    position: absolute;
    height: 60%;
    width: 40%;
    bottom: 0px;
    right: 200px;
  }
</style>