<div id="root"></div>
<script type="text/babel" src="/javascripts/components/adminLogin.component.js"></script>
<script type="text/babel" src="/javascripts/components/PairItem.component.js"></script>
<script type="text/babel" src="/javascripts/components/Pairing.component.js"></script>
<script type="text/babel" src="/javascripts/ReactApp.js"></script>