<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/ReactApp.css" type="text/css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  </head>
  <body>
    {{{body}}}
    <div id="content"></div>
    <script type="text/babel">
      var Router = ReactRouter.Router;
      var Route = ReactRouter.Route;
      var IndexRoute = ReactRouter.IndexRoute;
      var Link = ReactRouter.Link;
      var browserHistory = ReactRouter.browserHistory;

      class RouteA extends React.Component {
        btnClickB() {
          browserHistory.push('/b');
        }
        btnClickC() {
          browserHistory.push('/c');
        }

        render() {
          return(
            <div>
              <h2>Route A</h2>
              <div>
                <button className="btn btn-default" onClick={ this.btnClickB }>Goto B</button>
                <button className="btn btn-default" onClick={ this.btnClickC }>Goto C</button>
              </div>
            </div>
          );
        }
      }

      class RouteB extends React.Component {
        btnClickA() {
          browserHistory.push('/a');
        }

        btnClickC() {
          browserHistory.push('/c');
        }

        render() {
          return(
            <div>
              <h2>Route B</h2>
              <div>
                <button className="btn btn-default" onClick={ this.btnClickA }>Goto A</button>
                <button className="btn btn-default" onClick={ this.btnClickC }>Goto C</button>
              </div>
            </div>
          );
        }
      }

      class RouteC extends React.Component {
        btnClickA() {
          browserHistory.push('/a');
        }

        btnClickB() {
          browserHistory.push('/b');
        }

        render() {
          return(
            <div>
              <h2>Route C</h2>
              <div>
                <button className="btn btn-default" onClick={ this.btnClickA }>Goto A</button>
                <button className="btn btn-default" onClick={ this.btnClickB }>Goto B</button>
              </div>
            </div>
          );
        }
      }

      ReactDOM.render(
        <Router history={browserHistory}>
          <Route path="/" component={RouteA} />
          <Route path="/a" component={RouteA} />
          <Route path="/b" component={RouteB} />
          <Route path="/c" component={RouteC} />
          <Route path="*" component={RouteA} />
        </Router>,
        document.getElementById('app')
      );

    </script>
  </body>
</html>
