<script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyC9qJYJPqeVBtCCvu68wQ286oyCL8Z5PqQ&libraries=geometry"></script>

<div id="map-canvas"></div>

<style>
  html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map-canvas {
      height: 100%;
      width: 100%;
    }
</style>

<!-- <script src="./maps.js"></script> -->
<script src="/javascripts/maps.js"></script>